/*
 * React Bootstrap Documentation
 * Special styles for presenting react-bootstrap's documentation and code examples.
 * Based on the Bootstrap Documentation styles and overridden as necessary.
 */

body {
  background-color: #f9f9f9;
}

.bs-docs-nav {
  background-color: #222;
}

.bs-docs-nav .navbar-nav>li>a {
  color: #aaa;
  font-weight: normal;
}

.bs-docs-nav .navbar-nav>li>a:hover,.bs-docs-nav .navbar-nav>.active>a, .bs-docs-nav .navbar-nav>.active>a:hover {
  background: #333;
  color: #fafafa;
}

.bs-docs-nav .navbar-collapse {
  overflow: hidden;
}

@media (min-width: 768px) {

  .bs-docs-nav .navbar-nav>li>a {
    border-bottom: 3px solid #222;
  }
  .bs-docs-nav .navbar-nav>li>a:hover,.bs-docs-nav .navbar-nav>.active>a, .bs-docs-nav .navbar-nav>.active>a:hover {
    border-bottom: 3px solid #cc7a6f;
  }
}

.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
  color: #00d8ff;
}

.bs-docs-masthead, .bs-docs-header {
  background: #2d2d2d;
  filter: none;
  color: #e9e9e9;
}

.bs-docs-header h1 {
  color: #e9e9e9;
}

.bs-docs-header p {
  color: #e9e9e9;
}

.bs-docs-sidebar .nav>li>a {
  color: #666;
}

.bs-docs-sidebar .nav>li>a:hover, .bs-docs-sidebar .nav>li>a:focus {
  color: #cc7a6f;
  border-left: 1px solid #cc7a6f;
}

.back-to-top:hover {
  color: #cc7a6f;
}


.CodeMirror {
  height: auto;
}

.bs-example .btn-toolbar + .btn-toolbar {
  margin-top: 10px;
}

.bs-example .static-modal .modal {
  position: relative;
  top: auto;
  right: auto;
  left: auto;
  bottom: auto;
  z-index: 1;
  display: block;
}

.bs-docs-booticon {
  background: url('../images/logo.png') 0 0 no-repeat;
  background-size: contain;
  border: 0;
  width: 200px;
  height: 200px;
}

.bs-example-scroll {
  overflow: scroll;
  height: 200px;
}

.bs-example-scroll > div {
  position: relative;
  padding: 100px 0;
}

.playground {
  margin-bottom: 36px;
}

.bs-example {
  margin-bottom: 0;
}

.bs-example + .highlight {
  margin-top: 0;
  margin-bottom: 0;
  border-top: none;
  border-bottom-right-radius: 0;
}

.code-toggle {
  float: right;
  display: inline-block;
  position: relative;
  background: #fafafa;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border: 1px solid #e1e1e8;
  border-top: none;
  padding: 4px 8px;
  background: #f8f5ec;
}

@media (min-width: 768px) {
  .code-toggle {
    /* background: #fff; */
  }
}

.code-toggle.open {
  top: -1px;
}

.code-toggle.under {
  top: 0px;
}

// Minimal CSS Needed for contained modals
.modal-container {
  position: relative;
}
.modal-container .modal, .modal-container .modal-backdrop {
  position: absolute;
}

pre.prettyprint {
  border: 1px solid #ccc;
  margin-bottom: 14;
  padding: 9.5px;
}

/* Pretty printing styles. Used with prettify.js.
 *
 * Name:	Stanley Ng
 * Email: 	stanleyhlng@googlegroups.com
 *
 */
.pln {
  color: #bd3613; }

.str {
  color: #269186; }

.kwd {
  color: #859900; }

.com {
  color: #586175;
  font-style: italic; }

.typ {
  color: #b58900; }

.lit {
  color: #2aa198; }

.pun {
  color: #839496; }

.opn {
  color: #839496; }

.clo {
  color: #839496; }

.tag {
  color: #268bd2; }

.atn {
  color: #586175; }

.atv {
  color: #2aa198; }

.dec {
  color: #268bd2; }

.var {
  color: #268bd2; }

.fun {
  color: #FF0000; }

/* Put a border around prettyprinted code snippets. */
pre.prettyprint {
  background-color: #fdf6e3;
  padding: 10px;
  border: 1px solid #E1E1E8; }

/* Specify class=linenums on a pre to get line numbering */
ol.linenums {
  color: #4c666c;
  margin: 0 0 0 40px; }

ol.linenums li {
  line-height: 18px;
  padding-left: 12px; }

.alias {
  font-style: italic;
}

.alias::before {
  content: 'Alias: ';
  font-weight: bold;
  margin-left: 20px;
}
