node_modules
/test.js
/live
/demo/test.html
/build-docs
.DS_Store
.tern-port
*~
\#*\#
.\#*
.projectile
npm-debug.log

/__tests__
/demo
/docs
/examples
/lib
/scripts
/tasks
.eslintrc
.gitattributes
.gitignore
.travis.yml
bower.json
examples.md
gulpfile.js
