.zf-form {
  font-family: 'Open Sans', Helvetica, arial, sans-serif;
}

.zf-field {
  padding: 10px;
}

.zf-field > label {
  display: block;
  padding-bottom: 10px;
}

.zf-select {
  position: relative;
  max-width: 600px;
}

.zf-select-active {
  border: 1px solid #ccc;
  padding: 10px;
}

.zf-select-arrow {
  top: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  width: 42px;
  text-align: center;
  line-height: 40px;
  border: 1px solid #ccc;
}

.zf-select-arrow.zf-open::before {
  content: '▲';
  vertical-align: middle;
}

.zf-select-arrow.zf-closed::before {
  content: '▼';
  vertical-align: middle;
}

.zf-select-choices {
  list-style-type: none;
  position: absolute;
  background: #fff;
  z-index: 1000;
  margin-top: 0px;
  padding-left: 0px;
}

.zf-select-choice {
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 10px;
}

.zf-slide-enter {
  opacity: 0.01;
  transition: opacity .1s ease-in;
}

.zf-slide-enter.zf-slide-enter-active {
  opacity: 1;
}

.zf-slide-leave {
  opacity: 1;
  transition: opacity .1s ease-in;
}

.zf-slide-leave.zf-slide-leave-active {
  opacity: 0.01;
}
