.formatic {
  font-family: 'Open Sans', Helvetica, arial, sans-serif;
}

.formatic .field {
  padding: 10px;
}

/*.formatic .field label {
  display: block;
  padding-bottom: 10px;
}*/

.formatic .field-label {
  padding-bottom: 10px;
}

.formatic .required-text {
  font-size: 80%;
  color: #aaa;
}

/*.formatic .required .required-text {
  color: #ff4a00;
}*/

.formatic .required .required-text:after {
  content: '(required)'
}

/*.formatic .not-required .required-text {
  color: #aaa;
}*/

/*.formatic .not-required .required-text:after {
  content: '(optional)'
}*/

.formatic .validation-error-required .required-text:after {
  color: #ff4a00;
}

.formatic .dropdown-field {
  position: relative;
  max-width: 600px;
}

.formatic .field-value {
  border: 1px solid #ccc;
  padding: 10px;
}

.formatic .field-toggle {
  top: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  width: 42px;
  text-align: center;
  line-height: 40px;
  border: 1px solid #ccc;
}

.formatic .field-toggle.field-open::before {
  content: '▲';
  vertical-align: middle;
}

.formatic .field-toggle.field-closed::before {
  content: '▼';
  vertical-align: middle;
}

.formatic .dropdown-field .field-choices {
  list-style-type: none;
  position: absolute;
  background: #fff;
  z-index: 1000;
  margin-top: 0px;
  padding-left: 0px;
}

.formatic .dropdown-field .field-choice {
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 10px;
}

.formatic .reveal-enter {
  opacity: 0.01;
  transition: opacity .1s ease-in;
}

.formatic .reveal-enter.reveal-enter-active {
  opacity: 1;
}

.formatic .reveal-leave {
  opacity: 1;
  transition: opacity .1s ease-in;
}

.formatic .reveal-leave.reveal-leave-active {
  opacity: 0.01;
}

.formatic .boolean-checkbox-field label {
  display: inline
}

.formatic .pretty-part {
  border-radius: 12px;
  background: #ff9266;
  cursor: pointer;
  box-shadow: 0px 0px 0px 1px #ff9266;
}

.formatic .pretty-part-left, .formatic .pretty-part-right {
  opacity: 0.0;
}

.formatic .pretty-textarea-field textarea {
  font-family: 'Open Sans', Helvetica, arial, sans-serif;
  font-size: 13px;
  width: 500px;
  border: solid 1px;
  heght: 200px;
  padding: 2px;
  margin: 2px;
}

.formatic pre {
  width 500px;
}
