@charset "UTF-8";

.Formatic_Field {
  margin: 0 0 30px;
}

.Formatic_Field:last-child {
  margin: 0;
}

.Formatic_Field-IsReadOnly {
  opacity: 0.5;
}

.Formatic_Fields_FieldBody,
.Formatic_GroupedFields_FieldBody {
  border: 2px solid #dadfe2;
  border-radius: 3px;
}

.Formatic_RequiredLabel {
  font-size: 80%;
  color: #969ea2;
}

.Formatic_RequiredLabel-IsRequired:after {
  content: '(required)';
}

.Formatic_RequiredLabel-IsNotRequired:after {
  content: '';
}

.Formatic_RequiredLabel-IsRequiredError {
  color: #ff4a00;
}

.Formatic_TextInput,
.Formatic_ListItemKeyInput,
.Formatic_TextareaInput,
.Formatic_PasswordInput {
  background-color: #fff;
  border: 1px solid #969ea2;
  border-radius: 3px;
  height: 48px;
  padding: 8px;
}

.Formatic_ListItemKeyInput {
  margin-right: 8px;
}

.Formatic_TextInput,
.Formatic_TextareaInput,
.Formatic_PasswordInput {
  width: 100%;
}

.Formatic_PrettyText_PrettyTextInputWrapper {
  position: relative;
}

.Formatic_PrettyTextInputTabTarget,
.Formatic_TextInput {
  height: auto;
  min-height: 48px;
}

.Formatic_PrettyTextInputTabTarget {
  border-radius: 3px;
  border: 1px solid #969ea2;
  line-height: 26px;
  overflow: auto;
  padding: 10px;
  white-space: pre-wrap;
}

.Formatic_PrettySelect_PrettyTextInputTabTarget,
.Formatic_PrettyBoolean_PrettyTextInputTabTarget {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-right: 0px;
}

.Formatic_PrettyText_PrettyTextInputTabTarget,
.Formatic_TextareaInput {
  height: auto;
  min-height: 98px;
}

.Formatic_PrettyText_PrettyTextInputTabTarget-IsSingleLine,
.Formatic_CustomValueWrapper .Formatic_PrettyText_PrettyTextInputTabTarget {
  min-height: 48px;
}

.Formatic_PrettyTextInputInternalTextWrapper .CodeMirror {
  height: auto;
}

.Formatic_PrettyTag {
  background: #d1e6fc;
  border-radius: 12px;
  cursor: pointer;
  padding-left: 8px;
  padding-right: 8px;
}

.Formatic_PrettyTag:hover {
  background: #428ddb;
  color: #fff;
}

.Formatic_PrettySelect_PrettyTextInputWrapper,
.Formatic_PrettyBoolean_PrettyTextInputWrapper {
  flex: 1;
}

.Formatic_SelectArrow {
  align-content: center;
  border: 1px solid #969ea2;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 48px;
}

.Formatic_SelectArrow::before {
  content: '▼';
  color: #969ea2;
}

.Formatic_SelectArrow-IsOpen::before {
  content: '▲';
  color: #969ea2;
}

.Formatic_PrettySelect_ChoicesSearchInput,
.Formatic_PrettyBoolean_ChoicesSearchInput,
.Formatic_PrettyText_ChoicesSearchInput {
  width: 100%;
}

.Formatic_ChoicesWrapper {
  position: relative;
}

.Formatic_PrettySelect_Choices,
.Formatic_PrettyBoolean_Choices,
.Formatic_PrettyText_Choices {
  width: 100%;
}

.Formatic_PrettySelect_Choice,
.Formatic_PrettyBoolean_Choice,
.Formatic_PrettyText_Choice {
  border-bottom: 1px solid #969ea2;
  display: block;
  overflow: hidden;
  padding: 10px;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.Formatic_PrettySelect_Choice:hover,
.Formatic_PrettyBoolean_Choice:hover,
.Formatic_PrettyText_Choice:hover,
.Formatic_ChoicesItem-isHovering {
  background-color: #eef0f2;
}

.Formatic_PrettySelect_ChoiceLabel,
.Formatic_PrettyBoolean_ChoiceLabel,
.Formatic_PrettyText_ChoiceLabel {
  font-weight: 600;
  padding-right: 10px;
}

.Formatic_PrettySelect_ChoiceSample,
.Formatic_PrettyBoolean_ChoiceSample,
.Formatic_PrettyText_ChoiceSample {
  color: #aeb7bc;
  font-weight: 400;
}

.Formatic_Choices {
  background: #fff;
  border: 1px solid #969ea2;
  max-height: 400px;
  overflow-y: auto;
  width: 100%;
  z-index: 1000;
}

.Formatic_ChoicesList {
  list-style-type: none;
  margin: 0px;
  padding-left: 0px;
}

.Formatic_ChoicesInputWrapper {
  display: flex;
}

.Formatic_ListItem {
  display: flex;
}

.Formatic_ListItem {
  margin-bottom: 8px;
}

.Formatic_ListItemValue {
  flex: 1;
}

.Formatic_ListItemControl {
  align-items: center;
  display: flex;
}

.Formatic_AssocList_ListItemControl {
  align-items: flex-start;
}

.Formatic_ListItemMoveControl {
  display: flex;
  flex-direction: column;
  margin-left: 8px;
}

.Formatic_MoveItemForward,
.Formatic_MoveItemBack,
.Formatic_AddItem,
.Formatic_RemoveItem,
.Formatic_ReadOnlyRemoveItem {
  border: 1px solid #969ea2;
  border-radius: 3px;
  cursor: pointer;
}

.Formatic_MoveItemForward,
.Formatic_MoveItemBack {
  height: 24px;
  line-height: 100%;
  text-align: center;
  width: 48px;
}

.Formatic_AddItem,
.Formatic_RemoveItem,
.Formatic_ReadOnlyRemoveItem {
  height: 48px;
  width: 48px;
}

.Formatic_RemoveItem,
.Formatic_ReadOnlyRemoveItem {
  margin-left: 8px;
}

.Formatic_Json_TextareaInput {
  width: 100%;
}

.Formatic_Json_TextareaInput-HasError {
  color: #c63a00;
}

.Formatic_FieldTemplateChoicesSelectInput,
.Formatic_SelectValueSelectInput {
  height: 48px;
}

.Formatic_CheckboxBoolean_FieldBody,
.Formatic_CheckboxArray_Choice {
  margin-left: 8px;
}

.Formatic_CheckboxBoolean_FieldBody:first-child,
.Formatic_CheckboxArray_Choice:first-child {
  margin-left: 0px;
}
