<!DOCTYPE html><html lang="en"><head><title>components/formatic</title></head><meta http-equiv="Content-Type" content="text/html; charset=utf-8"><meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0"><meta name="groc-relative-root" content="../"><meta name="groc-document-path" content="components/formatic"><meta name="groc-project-path" content="lib/components/formatic.js"><meta name="groc-github-url" content="https://github.com/zapier/formatic"><link rel="stylesheet" type="text/css" media="all" href="../assets/style.css"><script type="text/javascript" src="../assets/behavior.js"></script><body><div id="meta"><div class="file-path"><a href="https://github.com/zapier/formatic/blob/master/lib/components/formatic.js">lib/components/formatic.js</a></div></div><div id="document"><div class="segment"><div class="code"><div class="wrapper"><span class="hljs-pi">'use strict'</span>;

<span class="hljs-keyword">var</span> React = <span class="hljs-built_in">require</span>(<span class="hljs-string">'react/addons'</span>);
<span class="hljs-keyword">var</span> R = React.DOM;

module.exports = <span class="hljs-function"><span class="hljs-keyword">function</span> <span class="hljs-params">(plugin)</span> {</span>

  plugin.exports = React.createClass({

    getInitialState: <span class="hljs-function"><span class="hljs-keyword">function</span> <span class="hljs-params">()</span> {</span>
      <span class="hljs-keyword">return</span> {
        field: <span class="hljs-keyword">this</span>.props.form.field()
      };
    },

    componentDidMount: <span class="hljs-function"><span class="hljs-keyword">function</span><span class="hljs-params">()</span> {</span>
      <span class="hljs-keyword">var</span> form = <span class="hljs-keyword">this</span>.props.form;
      form.on(<span class="hljs-string">'change'</span>, <span class="hljs-keyword">this</span>.onFormChanged);
    },

    componentWillUnmount: <span class="hljs-function"><span class="hljs-keyword">function</span> <span class="hljs-params">()</span> {</span>
      <span class="hljs-keyword">var</span> form = <span class="hljs-keyword">this</span>.props.form;
      form.off(<span class="hljs-string">'change'</span>, <span class="hljs-keyword">this</span>.onFormChanged);
    },

    onFormChanged: <span class="hljs-function"><span class="hljs-keyword">function</span> <span class="hljs-params">()</span> {</span>
      <span class="hljs-keyword">if</span> (<span class="hljs-keyword">this</span>.props.onChange) {
        <span class="hljs-keyword">this</span>.props.onChange(<span class="hljs-keyword">this</span>.props.form.val());
      }
      <span class="hljs-keyword">this</span>.setState({
        field: <span class="hljs-keyword">this</span>.props.form.field()
      });
    },

    render: <span class="hljs-function"><span class="hljs-keyword">function</span> <span class="hljs-params">()</span> {</span>
      <span class="hljs-keyword">return</span> R.div({className: <span class="hljs-string">'formatic'</span>},
        <span class="hljs-keyword">this</span>.state.field.component()
      );
    }
  });
};</div></div></div></div></body></html>