<!DOCTYPE html><html lang="en"><head><title>components/list-item</title></head><meta http-equiv="Content-Type" content="text/html; charset=utf-8"><meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0"><meta name="groc-relative-root" content="../"><meta name="groc-document-path" content="components/list-item"><meta name="groc-project-path" content="lib/components/list-item.js"><meta name="groc-github-url" content="https://github.com/zapier/formatic"><link rel="stylesheet" type="text/css" media="all" href="../assets/style.css"><script type="text/javascript" src="../assets/behavior.js"></script><body><div id="meta"><div class="file-path"><a href="https://github.com/zapier/formatic/blob/master/lib/components/list-item.js">lib/components/list-item.js</a></div></div><div id="document"><div class="segment"><div class="code"><div class="wrapper"><span class="hljs-pi">'use strict'</span>;

<span class="hljs-keyword">var</span> React = <span class="hljs-built_in">require</span>(<span class="hljs-string">'react'</span>);
<span class="hljs-keyword">var</span> R = React.DOM;

module.exports = <span class="hljs-function"><span class="hljs-keyword">function</span> <span class="hljs-params">(plugin)</span> {</span>

  plugin.exports.component = React.createClass({

    getDefaultProps: <span class="hljs-function"><span class="hljs-keyword">function</span> <span class="hljs-params">()</span> {</span>
      <span class="hljs-keyword">return</span> {
        className: plugin.config.className
      };
    },</div></div></div><div class="segment"><div class="comments "><div class="wrapper"><p>getInitialState: function () {
  return {
    maybeDelete: false
  };</p></div></div><div class="code"><div class="wrapper">    <span class="hljs-comment">// ,</span></div></div></div><div class="segment"><div class="comments "><div class="wrapper"><p>onDelete: function () {
  var parent = this.props.field.parent;
  if (this.props.onDelete) {
    this.props.onDelete(this.props.field.index);
  }
  this.props.form.actions.delete(parent, this.props.field.index);</p></div></div><div class="code"><div class="wrapper">    <span class="hljs-comment">// ,</span></div></div></div><div class="segment"><div class="comments "><div class="wrapper"><p>onMoveUp: function () {
  var parent = this.props.field.parent;
  if (this.props.onMove) {
    this.props.onMove(this.props.field.index, this.props.field.index - 1);
  }
  this.props.form.actions.move(parent, this.props.field.index, this.props.field.index - 1);</p></div></div><div class="code"><div class="wrapper">    <span class="hljs-comment">// ,</span></div></div></div><div class="segment"><div class="comments "><div class="wrapper"><p>onMoveDown: function () {
  var parent = this.props.field.parent;
  if (this.props.onMove) {
    this.props.onMove(this.props.field.index, this.props.field.index + 1);
  }
  this.props.form.actions.move(parent, this.props.field.index, this.props.field.index + 1);</p></div></div><div class="code"><div class="wrapper">    <span class="hljs-comment">// ,</span></div></div></div><div class="segment"><div class="comments "><div class="wrapper"><p>onMouseOver: function () {
  this.setState({
    maybeDelete: true
  });</p></div></div><div class="code"><div class="wrapper">    <span class="hljs-comment">// ,</span></div></div></div><div class="segment"><div class="comments "><div class="wrapper"><p>onMouseOut: function () {
  this.setState({
    maybeDelete: false
  });</p></div></div><div class="code"><div class="wrapper">    <span class="hljs-comment">// ,</span>

    render: <span class="hljs-function"><span class="hljs-keyword">function</span> <span class="hljs-params">()</span> {</span>
      <span class="hljs-keyword">var</span> field = <span class="hljs-keyword">this</span>.props.field;

      <span class="hljs-comment">//var parent = this.props.parent;</span>
      <span class="hljs-comment">//var item = field.field;</span>
      <span class="hljs-comment">//var form = this.props.form;</span>

      <span class="hljs-comment">//var className = formatic.className('list-item', plugin.config.className, field.className);</span></div></div></div><div class="segment"><div class="comments "><div class="wrapper"><p>var valueClassName = formatic.className(&#39;object-value&#39;, plugin.config.value_className, field.value_className);
var controlClassName = formatic.className(&#39;list-control&#39;, plugin.config.control_className, field.control_className);
var removeClassName = formatic.className(&#39;list-control-remove&#39;, plugin.config.removeButton_className, field.removeButton_className);
var upClassName = formatic.className(&#39;list-control-up&#39;, plugin.config.upButton_className, field.upButton_className);
var downClassName = formatic.className(&#39;list-control-down&#39;, plugin.config.downButton_className, field.downButton_className);
var removeLabel = plugin.configValue(&#39;removeButton_label&#39;, &#39;[remove]&#39;);
var upLabel = plugin.configValue(&#39;upButton_label&#39;, &#39;[up]&#39;);
var downLabel = plugin.configValue(&#39;downButton_label&#39;, &#39;[down]&#39;);</p></div></div><div class="code"><div class="wrapper">      <span class="hljs-keyword">return</span> R.div({className: <span class="hljs-keyword">this</span>.props.className},
        plugin.component(<span class="hljs-string">'list-item-value'</span>)({form: <span class="hljs-keyword">this</span>.props.form, field: field, index: <span class="hljs-keyword">this</span>.props.index}),
        plugin.component(<span class="hljs-string">'list-item-control'</span>)({field: field, index: <span class="hljs-keyword">this</span>.props.index, numItems: <span class="hljs-keyword">this</span>.props.numItems, onMove: <span class="hljs-keyword">this</span>.props.onMove, onRemove: <span class="hljs-keyword">this</span>.props.onRemove})
        <span class="hljs-comment">//,</span></div></div></div><div class="segment"><div class="comments "><div class="wrapper"><p>R.div({className: controlClassName},
  R.span({className: removeClassName, onMouseOver: this.onMouseOver, onMouseOut: this.onMouseOut, onClick: this.onDelete}, removeLabel),
  this.props.field.index &gt; 0 ? R.span({className: upClassName, onClick: this.onMoveUp}, upLabel) : null,
  this.props.field.index &lt; (this.props.field.numItems - 1) ? R.span({className: downClassName, onClick: this.onMoveDown}, downLabel) : null
)</p></div></div><div class="code"><div class="wrapper">      );
    }
  });
};</div></div></div></div></body></html>