<!DOCTYPE html><html lang="en"><head><title>components/textarea</title></head><meta http-equiv="Content-Type" content="text/html; charset=utf-8"><meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0"><meta name="groc-relative-root" content="../"><meta name="groc-document-path" content="components/textarea"><meta name="groc-project-path" content="lib/components/textarea.js"><meta name="groc-github-url" content="https://github.com/zapier/formatic"><link rel="stylesheet" type="text/css" media="all" href="../assets/style.css"><script type="text/javascript" src="../assets/behavior.js"></script><body><div id="meta"><div class="file-path"><a href="https://github.com/zapier/formatic/blob/master/lib/components/textarea.js">lib/components/textarea.js</a></div></div><div id="document"><div class="segment"><div class="code"><div class="wrapper"><span class="hljs-pi">'use strict'</span>;

<span class="hljs-keyword">var</span> React = <span class="hljs-built_in">require</span>(<span class="hljs-string">'react/addons'</span>);
<span class="hljs-keyword">var</span> R = React.DOM;

module.exports = <span class="hljs-function"><span class="hljs-keyword">function</span> <span class="hljs-params">(plugin)</span> {</span>

  plugin.exports = React.createClass({

    mixins: [<span class="hljs-built_in">require</span>(<span class="hljs-string">'./mixins/field'</span>)],

    getDefaultProps: <span class="hljs-function"><span class="hljs-keyword">function</span> <span class="hljs-params">()</span> {</span>
      <span class="hljs-keyword">return</span> {
        className: plugin.config.className,
        rows: plugin.config.rows || <span class="hljs-number">5</span>
      };
    },

    onChange: <span class="hljs-function"><span class="hljs-keyword">function</span> <span class="hljs-params">(event)</span> {</span>
      <span class="hljs-keyword">var</span> newValue = event.target.value;
      <span class="hljs-keyword">this</span>.props.field.val(newValue);
    },

    render: <span class="hljs-function"><span class="hljs-keyword">function</span> <span class="hljs-params">()</span> {</span>

      <span class="hljs-keyword">var</span> field = <span class="hljs-keyword">this</span>.props.field;

      <span class="hljs-keyword">return</span> plugin.component(<span class="hljs-string">'field'</span>)({
        field: field
      }, R.textarea({
        className: <span class="hljs-keyword">this</span>.props.className,
        value: field.value,
        rows: field.def.rows || <span class="hljs-keyword">this</span>.props.rows,
        onChange: <span class="hljs-keyword">this</span>.onChange
      }));
    }
  });
};</div></div></div></div></body></html>