<!DOCTYPE html><html lang="en"><head><title>components/helpers/choices-dropdown</title></head><meta http-equiv="Content-Type" content="text/html; charset=utf-8"><meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0"><meta name="groc-relative-root" content="../../"><meta name="groc-document-path" content="components/helpers/choices-dropdown"><meta name="groc-project-path" content="lib/components/helpers/choices-dropdown.js"><link rel="stylesheet" type="text/css" media="all" href="../../assets/style.css"><script type="text/javascript" src="../../assets/behavior.js"></script><body><div id="meta"><div class="file-path">lib/components/helpers/choices-dropdown.js</div></div><div id="document"><div class="segment"><div class="code"><div class="wrapper"><span class="hljs-pi">'use strict'</span>;

<span class="hljs-keyword">var</span> React = <span class="hljs-built_in">require</span>(<span class="hljs-string">'react/addons'</span>);
<span class="hljs-keyword">var</span> _ = <span class="hljs-built_in">require</span>(<span class="hljs-string">'underscore'</span>);</div></div></div><div class="segment"><div class="comments "><div class="wrapper"><p>   Choices drop down component for picking pretty text tags.</p>
<p>   Properties:</p>
<ul>
<li><p>handleSelection: choice selection callback, passed the selected tag key</p>
<p>TODO: Implemented via Bootstrap dropdown for now but we
want to remove that dependency.</p>
</li>
</ul></div></div><div class="code"><div class="wrapper">module.exports = React.createClass({
  propTypes: {
    handleSelection: React.PropTypes.func.isRequired
  },

  handleClick: <span class="hljs-function"><span class="hljs-keyword">function</span> <span class="hljs-params">(key)</span> {</span>
    <span class="hljs-keyword">this</span>.props.handleSelection(key);
  },

  items: <span class="hljs-function"><span class="hljs-keyword">function</span> <span class="hljs-params">()</span> {</span>
    <span class="hljs-keyword">var</span> self = <span class="hljs-keyword">this</span>;
    <span class="hljs-keyword">var</span> items = [];
    <span class="hljs-keyword">var</span> index = <span class="hljs-number">0</span>;
    <span class="hljs-keyword">var</span> choices = <span class="hljs-keyword">this</span>.props.choices;
    <span class="hljs-keyword">var</span> len = <span class="hljs-built_in">Object</span>.keys(choices).length;

    _.each(choices, <span class="hljs-function"><span class="hljs-keyword">function</span> <span class="hljs-params">(value, key)</span> {</span>
      index++;
      <span class="hljs-keyword">var</span> clickHandler = self.handleClick.bind(self, key);

      items.push(
        <span class="xml"><span class="hljs-tag">&lt;<span class="hljs-title">li</span> <span class="hljs-attribute">key</span>=<span class="hljs-value">{key}</span> <span class="hljs-attribute">onClick</span>=<span class="hljs-value">{clickHandler}</span>&gt;</span>
          <span class="hljs-tag">&lt;<span class="hljs-title">a</span> <span class="hljs-attribute">tabIndex</span>=<span class="hljs-value">"-1"</span>&gt;</span><span class="hljs-tag">&lt;<span class="hljs-title">span</span>&gt;</span><span class="hljs-tag">&lt;<span class="hljs-title">strong</span>&gt;</span>{value}<span class="hljs-tag">&lt;/<span class="hljs-title">strong</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">span</span>&gt;</span> | <span class="hljs-tag">&lt;<span class="hljs-title">span</span>&gt;</span><span class="hljs-tag">&lt;<span class="hljs-title">em</span>&gt;</span>{key}<span class="hljs-tag">&lt;/<span class="hljs-title">em</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">span</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span>
        <span class="hljs-tag">&lt;/<span class="hljs-title">li</span>&gt;</span>
      );

      if (index <span class="hljs-tag">&lt; <span class="hljs-attribute">len</span>) {
        <span class="hljs-attribute">var</span> <span class="hljs-attribute">dividerKey</span> = '<span class="hljs-attribute">_</span>' + <span class="hljs-attribute">index</span>; // <span class="hljs-attribute">squelch</span> <span class="hljs-attribute">React</span> <span class="hljs-attribute">warning</span> <span class="hljs-attribute">about</span> <span class="hljs-attribute">needing</span> <span class="hljs-attribute">a</span> <span class="hljs-attribute">key</span>
        <span class="hljs-attribute">items.push</span>(&lt;<span class="hljs-attribute">li</span> <span class="hljs-attribute">key</span>=<span class="hljs-value">{dividerKey}</span> <span class="hljs-attribute">role</span>=<span class="hljs-value">"presentation"</span> <span class="hljs-attribute">className</span>=<span class="hljs-value">"divider"</span> /&gt;</span>);
      }
    });

    return items;
  },

  render: function() {
    var items = this.items();

    return (
      <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">className</span>=<span class="hljs-value">"dropdown"</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">a</span> <span class="hljs-attribute">ref</span>=<span class="hljs-value">"dropdownToggle"</span> <span class="hljs-attribute">href</span>=<span class="hljs-value">"#"</span> <span class="hljs-attribute">className</span>=<span class="hljs-value">"dropdown-toggle"</span> <span class="hljs-attribute">data-toggle</span>=<span class="hljs-value">"dropdown"</span>&gt;</span>Insert...<span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">ul</span> <span class="hljs-attribute">className</span>=<span class="hljs-value">"dropdown-menu"</span>&gt;</span>
          {items}
        <span class="hljs-tag">&lt;/<span class="hljs-title">ul</span>&gt;</span>
      <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
    );
  }
});
</span></div></div></div></div></body></html>