body {
  padding-bottom: 200px;
}

.content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.primary {
  bottom: 0;
  padding: 15px 30px;
  left: 0;
  overflow: auto;
  position: absolute;
  right: 440px;
  top: 0;
}

.debugger {
  bottom: 0;
  width: 440px;
  overflow: auto;
  padding: 15px;
  position: absolute;
  right: 0;
  top: 0;
}

.floating-debugger {
  width: 100%;
}

.CodeMirror {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #555;
}

.CodeMirror-lines {
  padding: 0;
}

.CodeMirror pre {
  padding: 0;
  color: #555;
}